<template>
  <div class="TechnicalPrevention">
    <Header title="技防设备概览"/>
    <v-row>
      <v-col :cols="4">
        <div class="pl-2" style="overflow: auto" :style="{height: `${sideHeight}px`}">
          <div class="d-flex flex-column pb-10" v-for="(item, index) in sideList" :key="index">
            <TTitle :title="item.title"/>
            <div class="d-flex flex-wrap pl-10">
              <LabelTitle class="ml-5 pl-5 mt-4" v-for="(it, idx) in item.list" :key="idx" 
                :title="it.title" :count="it.num" :sum="it.sum"/>
            </div>
          </div>
        </div>
      </v-col>
      <v-col :cols="8">
        <div class="d-flex flex-column">
          <div class="d-flex flex-column">
            <TTitle title="摄像机分布图"/>
            <DistributionMapChart/>
          </div>
          <div class="d-flex justify-space-between">
            <div>
              <TTitle title="设备正常率"/>
              <v-img width="440" src="../../assets/overview/基带.png"></v-img>
            </div>
             <div class="text-center">
              <TTitle title="有效期占比"/>
              <v-img width="200" src="../..//assets/overview/底座.png"></v-img>
            </div>
          </div>
        </div>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import Header from "@/components/system/Header/Header";
import TTitle from "@/components/common/TTitle/TTitle";
import LabelTitle from "@/components/common/LabelTitle/LabelTitle";
import DistributionMapChart from "./components/DistributionMapChart";
import { systemDetail } from '@/api/overview'
export default {
  // eslint-disable-next-line vue/no-unused-components
  components: { Header, TTitle, LabelTitle, DistributionMapChart },
  data: () => ({
    sideHeight: document.documentElement.clientHeight - 136,
    sideList: [
      {
        title: '视频监控系统',
        icon: 'sxj',
        list: [
          { title: '枪机摄像机', num: 40, sum: 2400, icon: 'aa'},
          { title: '球机', num: 40, sum: 2400, icon: 'aa'},
          { title: '半球机', num: 40, sum: 2400, icon: 'aa'},
          { title: '枪球一体', num: 40, sum: 2400, icon: 'aa'},
        ]
      },
      {
        title: '出入口控制系统',
        icon: 'sxj',
        list: [
          { title: '枪机摄像机', num: 40, sum: 2400, icon: 'aa'},
          { title: '球机', num: 40, sum: 2400, icon: 'aa'},
          { title: '半球机', num: 40, sum: 2400, icon: 'aa'},
          { title: '枪球一体', num: 40, sum: 2400, icon: 'aa'},
        ]
      },
      {
        title: '入侵和紧急报警系统',
        icon: 'sxj',
        list: [
          { title: '枪机摄像机', num: 40, sum: 2400, icon: 'aa'},
          { title: '球机', num: 40, sum: 2400, icon: 'aa'},
          { title: '半球机', num: 40, sum: 2400, icon: 'aa'},
          { title: '枪球一体', num: 40, sum: 2400, icon: 'aa'},
        ]
      },
      {
        title: '入侵和紧急报警系统',
        icon: 'sxj',
        list: [
          { title: '枪机摄像机', num: 40, sum: 2400, icon: 'aa'},
          { title: '球机', num: 40, sum: 2400, icon: 'aa'},
          { title: '半球机', num: 40, sum: 2400, icon: 'aa'},
          { title: '枪球一体', num: 40, sum: 2400, icon: 'aa'},
        ]
      }
    ]
  }),
  mounted() {
    /** 控制高度 */
    window.onresize = () => {
      this.sideHeight = document.documentElement.clientHeight - 136;
    };
  },
  created(){
    // TODO 接口参数 待确认
    systemDetail({deviceType: 1}).then(data => {
      console.log('data', data);
    })
  }
};
</script>
<style scoped>
.TechnicalPrevention{
  background-image: url("../../assets/common/bg3.png");
  background-size: 100%;
  background-position: center top;
  overflow-y: auto;
}
</style>