<template>
  <div :style="{ height: `${docHeight}px`,backgroundColor: `${style.backgroundColor}` }" class="Doc">
    <div style="width:100%">
      <StatusBar @styleChange="(val) => {style = val}" :style="{ backgroundColor: `${style.backgroundBarColor}`}" :_style="style"></StatusBar>
    </div>
    <div class="docBody">
      <div style="width: 17%" :style="{ backgroundColor: `${style.backgroundNavColor}`}">
      <select v-model="selectIndex" @change="selectChange">
        <option :value="0">{{ $route.meta.title }}组件文档</option>
        <option :value="1">{{ $route.meta.title }}页面文档</option>
      </select>
      <input class="docInput" v-model="searchVal" @input="search" type="text" placeholder="搜索组件">
      <div :class="selectDocIndex === index ? 'select' : ''" @click="selectcomponent(index)"
        v-for="(item, index) in docList"
        :key="index">
        {{ item.name }}
        {{ item.doc.name ? '(' : ''}}
        {{ item.doc.name }}
        {{ item.doc.name ? ')' : ''}}
      </div>
    </div>
    <div style="width: 83%">
      <!-- 参数控制 -->
      <div style="height: 200px;overflow-y: auto;" :style="{ backgroundColor: `${style.backgroundTopColor}`}">
        <table>
          <thead>
            <tr>
            <th width="100">名称</th>
            <th width="200">交互</th>
            <th width="80">类型</th>
            <th width="80">默认值</th>
          </tr>
          </thead>
          <tbody style="height: 6rem;overflow-y: auto">
              <tr v-for="(it, k, idx) in docList[selectDocIndex].props" :key="idx">
              <td width="100">{{k}}</td>
              <td width="200">
                <div v-if="it.typex === 'Boolean'">
                  <input @change="onInput" v-model="docFormData[k]" type="radio" name="docFormRadio" :value="true">true
                  <input @change="onInput" v-model="docFormData[k]" type="radio" name="docFormRadio" :value="false">false
                </div>
                <input v-else-if="it.typex === 'Number'" v-model="docFormData[k]" @input="onInput" class="docInput" type="Number">
                <textarea v-else-if="it.typex === 'Function'" v-model="docFormData[k]" class="docInput" @input="onInput" rows="4" cols="21"></textarea>
                <input v-else v-model="docFormData[k]" @input="onInput" class="docInput" type="text">
              </td>
              <td width="100">{{it.typex}}</td>
              <td width="80">{{it.default}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div :style="{ width: '100%',height: `${docHeight - 228}px`, backgroundColor: `#344A5F`}" class="docList">
        <!-- <h3 style="color: #808F92">{{ docList[selectDocIndex].name }}</h3> -->
        <!-- <div class="docListCard" :style="{height: `100%`, width: `250px`,backgroundColor: `${style.docListbackgroundColor}`, marginRight: '10px'}">
          交互
        </div> -->
        <div  class="docListCard" :style="{height: `${docHeight / style.docListScaling}px`, width: `${docWidth / style.docListScaling}px`,backgroundColor: `${style.docListbackgroundColor}`}">
          <component
            v-if="isDocCom"
            :ref="`docCom`"
            v-bind="docFormData"
            :is="docList[selectDocIndex].name"
          ></component>
          <template id="home"></template>
        </div>
      </div>
    </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable no-unused-vars */
import Vue from "vue";
import StatusBar from "./component/StatusBar.vue";
import FileSaver from './js/FileSaver.js'
export default {
  components: { StatusBar },
  data: () => ({
    selectIndex: 0,
    style: {
      backgroundBarColor: "#42B983",
      backgroundTopColor: "#BBE6D6",
      backgroundNavColor: '#FFFFFF',
      docListbackgroundColor: localStorage.getItem('docListbackgroundColor'),
      docListScaling: localStorage.getItem('docListScaling')
    },
    docList: [],
    isDocCom: true,
    docFormData: {}, // 组件标签
    selectDocIndex: 0,
    searchVal: '',
    docHeight: document.documentElement.clientHeight,
    docWidth: document.documentElement.clientWidth
  }),
  beforeCreate() {
    if(localStorage.getItem('docListbackgroundColor') === null) localStorage.setItem('docListbackgroundColor', '#1D2935');
    if(localStorage.getItem('docListScaling') === null) localStorage.setItem('docListScaling', 1.5);
    // const path = this.$route.meta.path ? this.$route.meta.path : 'components'
    // const files = require.context(`@/components`, true, /.vue$/);
    // /^(?!.*(?:internals|system|TTitle.vue$)).*\.vue$/
    const files = require.context(`@/components`, true, /^(?!.*(?:internals|auto-vue-doc$)).*\.vue$/);
    files.keys().forEach((element) => {
      const url = "components/" + element.substring(2);
      let urlArr = element.split("/");
      let urlArrLen = urlArr[urlArr.length - 1];
      const name = urlArrLen.substring(0, urlArrLen.length - 4);
      Vue.component(`${name}`, (resolve) => {
        require([`@/${url}`], resolve);
      });
    });
    const files2 = require.context(`@/views`, true, /^(?!.*(?:internals|auto-vue-doc$)).*\.vue$/);
    files2.keys().forEach((element) => {
      const url = "views/" + element.substring(2);
      let urlArr = element.split("/");
      let urlArrLen = urlArr[urlArr.length - 1];
      const name = urlArrLen.substring(0, urlArrLen.length - 4);
      Vue.component(`${name}`, (resolve) => {
        require([`@/${url}`], resolve);
      });
    });
  },
  created() {
    // console.log('FileSaver', FileSaver);
    // let mobileCode = undefined
    // let file = new File([mobileCode], "test.json", { type: "text/plain;charset=utf-8" });
    // console.log('file', file);
    // FileSaver.saveAs(file, 'Hello.vue')
    this.initComponents();
  },
  mounted() {
    window.onresize = () => {
      this.docHeight = document.documentElement.clientHeight
      this.docWidth = document.documentElement.clientWidth
    }
  },
  methods: {
    selectChange(){
      this.initComponents()
    },
    /**
     * 初始化组件
     */
    initComponents() {
      const filesList = [require.context("@/components", true, /^(?!.*(?:internals|auto-vue-doc$)).*\.vue$/), 
      require.context("@/views", true, /^(?!.*(?:internals|auto-vue-doc$)).*\.vue$/)]
      const urlList = ['components/', 'views/']
      const files = filesList[this.selectIndex];
      this.docList = []
      files.keys().forEach((element, index) => {
        const url = urlList[this.selectIndex] + element.substring(2);
        let urlArr = element.split("/");
        let urlArrLen = urlArr[urlArr.length - 1];
        const name = urlArrLen.substring(0, urlArrLen.length - 4);
        let component = require(`@/${url}`).default;
        // console.log('component', component);
        
        
        

        let props = {}
//         if(component.data){
// props = component.data()
          
//         }
        // 判断 props 是否存在
        if(component.props){
          props = component.props
          if(props.length){
            let tempProps = {}
            for (let index = 0; index < props.length; index++) {
              const element = props[index];
              tempProps[element] = {
                typex: 'Undefined',
                source: 'Array'
              }
            }
            props = tempProps
          } else {
            for(let key in props){
              props[key].typex = 'Undefined'
              if(props[key].type){
                props[key].typex = (typeof props[key].type()).charAt(0).toUpperCase() + (typeof props[key].type()).slice(1)
              }
            }
          }
        }
        this.docList.push({
          name: name,
          url: component.__file,
          props: props,
          doc: component.doc ? component.doc : {},
        });
      });
      setTimeout(() => {this.selectcomponent(0)}, 1)
    },
    /**
     * 选择组件查看
     */
    selectcomponent(index){
      this.selectDocIndex = index
      let docCom = this.$refs.docCom
      let props = this.docList[this.selectDocIndex].props
      this.docFormData = {}
      for(let key in props){
        let prop = props[key]
        this.docFormData[key] = props[key].default
      }
    },
    search(){
      if (!this.searchVal) {
        this.initComponents()
        return false
      }
      this.docList = this.docList.filter(e => {
        const searchVal =  this.searchVal.toLowerCase()
        // name 判断
        const eName = e.name.toLowerCase()
        let fENameIndex = eName.indexOf(searchVal)
        // docName 判断
        const docName = e.doc.name ? e.doc.name.toLowerCase() : ''
        let fDocNameIndex = docName.indexOf(searchVal)
        return fENameIndex > -1 || fDocNameIndex > -1
      })
    },
    /**
     * 参数输入
     */
    onInput(){
      setTimeout(() => {this.refreshIsDocCom()},100)
      let props = this.docList[this.selectDocIndex].props // 传递集合
      for(let key in props){
        this.docFormData[key] = this.conversionValue(this.docFormData[key], props[key])
      }
    },
    conversionValue(val, prop){
      if(prop.typex === 'Boolean'){
        if(val === 'false') val = false;
      } else if(prop.typex === 'Number'){
        val = Number(val)
      } else if(prop.typex === 'Function'){
        let funcStr = val;
        let test = eval("(false || "+funcStr+")");
        val = test
      }
      return val
    },
    refreshIsDocCom() {
      this.isDocCom = false
      this.$nextTick(() => {
        this.isDocCom = true
      })
    }
  }
};
</script>
<style scoped>
.Doc {
  background-color: ：#dfdfdf;
  display: flex;
  flex-direction: column;
}
.docBody{
  display: flex;
  flex-direction: row;
}


.docList {
  padding: 10px;
  overflow: auto;
  display: flex;
  flex-direction: row;
}
.docListCard{
  border-radius: 6px;
}
.select{
  background-color: #42b9832c;
  color: #42B983;
}
</style>
<style scoped>
.docInput{
  border: 1px solid rgb(65, 65, 65);
}
</style>
