<template>
  <div id="middle">
    <div>
    <el-row :gutter="20">
        <el-col :span="8">
          <div class="Alarm">
            <TTitle count title="火灾自动报警系统" icon=""></TTitle>
            <!--插入点  组件在T-Test 引入 只需要放入进来 一行三个即可；上班时我调整样式即可-->
            
            <!-- end -->
             <el-col :span="16">
               <TTitle count title="出入口控制系统" icon=""></TTitle>
               <!-- 插入点 -->
               <!-- end -->
                </el-col>
                
                  <el-col :span="16">
               <TTitle count title="入侵和紧急报警系统" icon=""></TTitle>
               <!-- 插入点 -->
               <!-- end -->
                </el-col>
                
          </div>
        </el-col>
      
     
        <el-col :span="16">
          <div class="Mapoffire">
            <TTitle count title="灭火器分布图" icon=""></TTitle>
          </div>

          <div class="sssss" style="padding-top: 5%">
            <Distribution></Distribution>
          </div>
          <el-col :span="16">
            <div class="Normal">
              <TTitle count title="设备正常率" icon=""></TTitle>
            </div>
            <div class="effective">
              <img
                src="../../assets/system/log/基带.png"
                alt=""
                style="width: 490px; height: 231px"
              />
            </div>
          </el-col>

            <el-col :span="8">
            <div class="n-Normal">
              <TTitle count title="有效占期比" icon=""></TTitle>
            </div>
            <div class="effectivee">
         <ul class="C-Circle">
 <li><img
                src="../../assets/system/log/Circle.png"
                alt=""
                style="width: 100px; height: 100px"
              /></li>
 <li><img
                src="../../assets/system/log/Circle.png"
                alt=""
                style="width: 100px; height: 100px"
              /></li> <li>  <img
                src="../../assets/system/log/Circle.png"
                alt=""
                style="width: 100px; height: 100px"
              /></li>
</ul><img
                src="../../assets/system/log/底座.png"
                alt=""
                style="width: 400px; height: 150px"
              />
            </div>
          </el-col>
        </el-col>
      </el-row>

      <el-row :gutter="20">
        <el-col :span="8">
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
import TTitle from "@/components/common/TTitle/TTitle";
import Distribution from "@/views/system/Distribution";
export default {
  components: { TTitle, Distribution},
};
</script>

<style lang="scss" scoped>
#middle {
  background: url("../../assets/common/bbk.png");
  height: 100%;
  position: fixed;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}
.el-row {
  margin-bottom: 2px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-col {
  border-radius: 2px;
}

.grid-content {
  border-radius: 4px;
  min-height: 3px;
}
.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}
.Mapoffire {
  padding-top: 10%;
  padding-left: 9%;
}
.Normal {
  padding-top: 1%;
  padding-left: 9%;
}
// .Proportion {
//   padding-top: 44%;
// }
.effective {
  padding-top: 4%;
  padding-right: 30%;
}
.Alarm {
  padding-top: 20%;
}
.Fireextinguisher {
  padding-top: 15%;
}
.Spraywater {
  padding-top: 15%;
}


.C-Circle li {
margin-left: 5%; 
float:left; /* 往左浮动 */
list-style: none;
}

</style>
