<template>
  <div :id="id"  style="width: 299px;height: 189px;"></div>
</template>

<script>
import { getPeopleDetail } from "@/api/system";
import echarts from "echarts";
export default {
  name: "",
  data() {
    return {
      charts: "",
      id: '',
      opinion: ["学生", "教职工", "外来人员"],
      opinionData: []
    };
  },
  created() {
    getPeopleDetail().then(response => {
      this.opinionData = response.detail.map(e => {
        return { name: e.name, value: e.quantity };
      });
    });
  },
  //调用
  mounted() {
    const siv = setInterval(() => {
      this.initChart();
      window.clearInterval(siv);
    }, 1000);
  this.id = this.createRandomId();
  },
  methods: {
    initChart() {
      this.charts = echarts.init(document.getElementById(this.id));
      this.charts.setOption({
        tooltip: {
          trigger: "item",
          formatter: "{a}<br/>{b}:{c} ({d}%)"
        },
        legend: {
          orient: "vertical",
          x: "left",
          data: this.opinion
        },
        series: [
          {
            name: "访问来源",
            type: "pie",
            radius: ["50%", "70%"],
            avoidLabelOverlap: false,
            label: {
              normal: {
                show: false,
                position: "center"
              },
              emphasis: {
                show: true,
                textStyle: {
                  fontSize: "30",
                  fontWeight: "blod"
                }
              }
            },
            labelLine: {
              normal: {
                show: false
              }
            },
            data: this.opinionData
          }
        ]
      });
    },
    createRandomId() {
      return (Math.random() * 10000000).toString(16).substr(0, 4) + '-' + (new Date()).getTime() + '-' + Math.random().toString().substr(2, 5)
    }
  },
  beforeDestroy() {
    if (!this.chart) {
      return;
    }
    this.chart.dispose();
    this.chart = null;
  }
};
</script>
<style scoped>
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
#main {
  padding-left: 45%;
}
</style>
