<template>
  <div class="Echarts">
    <div id="ID" style="width: 400px; height: 220px"></div>
  </div>
</template>

<script>
export default {
  name: "Echarts",
  methods: {
    myEcharts() {
      var myChart = this.$echarts.init(document.getElementById("ID"));

      var option = {
        title: {
          text: "",
          subtext: "",
        },
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "shadow",
          },
        },
        legend: {
          data: [],
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true,
        },
        xAxis: {
          type: "value",
          boundaryGap: [0, 0.01],
        },
        yAxis: {
          type: "category",
          data: ["综合科", "户籍科", "安全防火科", "治安科", "综治办公室", "信息技术科","政保科","处办公室"],
        },
        series: [
          // {
          //   name: "2011年",
          //   type: "bar",
          //   data: [18203, 23489, 29034, 104970, 131744, 630230],
          // },
          {
            name: "2012年",
            type: "bar",
            data: [10, 20, 30, 40, 50, 60,70,80],
          },
        ],
      };
      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
    },
  },
  mounted() {
    this.myEcharts();
  },
};
</script>

<style>
</style>