<template>
  <div :style="{ height: `${logHeight}px` }" id="log_index" class="pa-10">
    <v-row class="pa-0" v-for="(item, index) in logList" :key="index">
      <v-col class="pa-0" cols="12">
        <v-row class="pa-0">
          <v-col
            cols="5"
            style="font-size: 1.5rem"
            class="pa-0 d-flex justify-end"
          >
            <span
              @click="logList[index].isShow = !logList[index].isShow"
              style="cursor: pointer"
              class="primary--text"
              >{{ item.year }}年</span>
            <i @click="logList[index].isShow = !logList[index].isShow"
             style="cursor: pointer"
             class="pl-3 primary--text pt-1"
             :class="item.isShow ? 'el-icon-caret-bottom' : 'el-icon-caret-top'"></i>
          </v-col>
          <v-col cols="1" class="pa-0 flex-grow-0 flex-shrink-0">
            <div class="d-flex flex-column align-center" style="height: 4.5rem">
              <i v-if="index === 0" class="pb-1">
                <v-img style="width: 2.4rem" src="@/assets/system/log/clock.png"></v-img>
              </i>
              <span class="primary" style="width: 1px; height: 100%"></span>
            </div>
          </v-col>
          <v-col cols="5" class="pa-0 d-flex">
            <span
              style="font-size: 1.5rem"
              v-if="index === 0"
              class="primary--text pb-1"
              >{{title}}更新日志</span
            >
          </v-col>
        </v-row>
        <span v-if="logList[index].isShow">
          <v-row v-for="(it, idx) in item.items" :key="idx">
            <v-col cols="5" class="pa-0 d-flex justify-end">
              <span class="info--text">{{ it.month }}</span>
            </v-col>
            <v-col cols="1" class="pa-0 flex-grow-0 flex-shrink-0">
              <div class="d-flex flex-column align-center" style="height: 100%">
                <i class="my-1">
                  <v-img style="width: 1rem" src="@/assets/system/log/node.png"></v-img>
                </i>
                <span class="primary" style="width: 1px; height: 100%"></span>
              </div>
            </v-col>
            <v-col cols="5" class="pa-0 d-flex">
              <div class="d-flex flex-column align-start pb-6">
                <span class="success--text pb-1">V{{ it.version }}</span>
                <div>
                  <div
                    v-for="(i, ix) in it.content"
                    :key="ix"
                    class="d-flex flex-column align-start pb-2"
                  >
                    <span class="info--text">{{ i }}</span>
                  </div>
                </div>
              </div>
            </v-col>
          </v-row>
        </span>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import { getVersionUpdate } from '@/api/system/log'
import { getSystemParameter } from '@/api/system'
export default {
  data: () => ({
    logs: [],
    logList: [],
    logHeight: document.documentElement.clientHeight,
    title: ''
  }),
  mounted() {
    /** 控制 log 的高度 */
    window.onresize = () => {
      this.logHeight = document.documentElement.clientHeight;
    };
  },
  created() {
    this.getVersionUpdate()
    this.getSystemParameter()
  },
  methods: {
    /**
     * 获取更新日志
     */
    getVersionUpdate(){
      getVersionUpdate().then(data => {
        this.logs = data
        this.handleLogData()
      })
    },
    /**
     * 获取系统参数
     */
    getSystemParameter(){
      getSystemParameter().then(data => {
        this.title = data[0].parameter_value
      })
    },
    handleLogData() {
      let res = [];
      let logs = this.logs;
      logs.forEach((item) => {
        let year = item.updateDate.substring(0, 4);
        let fIndex = res.findIndex((e) => e.year === year);
        if (fIndex === -1) {
          res.push({
            year,
            isShow: true,
            items: logs
              .filter((fe) => fe.updateDate.substring(0, 4) === year)
              .map((me) => {
                me.month = me.updateDate.substring(5, 10).replace("-", ".");
                return me;
              }),
          });
        }
      });
      this.logList = res;
    },
  },
};
</script>
<style scoped>
#log_index {
  background-image: url("../../assets/common/bg.png");
  background-size: 100%;
  background-position: center top;
  overflow-y: auto;
  text-align: center;
}
</style>