
<template>
  
    <div id="middle">
      <el-row :gutter="30">
        <div>
          <el-col :span="4">
            <div class="grid-cont">
              <img src="../../assets/system/log/t-title.png" alt="" />
            </div>
            <Echarts></Echarts>
            <div class="G-GG">
              <img src="../../assets/system/log/t-title.png" alt="" />
            </div>
            <Case></Case>
            <div class="G-GA">
              <img src="../../assets/system/log/t-title.png" alt="" />
            </div>
            <!-- <Safety></Safety> -->
            <!-- --折线图 -->
            <div>
              <span>
                <Linchart></Linchart>
              </span>
            </div>
            <!-- end -->
          </el-col>
        </div>

        <el-col :span="5" :offset="5">
          <div class="bg-purple">
            <img src="../../assets/system/log/t-title.png" alt="" />
          </div>
          <div class="B-Button">
            <img
              src="../../assets/system/log/B-button.png"
              alt=""
              style="width: 400px; height: 130px"
            />
          </div>
          <div class="bg-pur">
            <img src="../../assets/system/log/t-title.png" alt="" />
          </div>

          <div class="Vidio">
            <img
              src="../../assets/system/log/vidio.png"
              alt=""
              style="width: 400px; heigh: 139px"
            />
          </div>

          <div class="bg-purp">
            <img src="../../assets/system/log/t-title.png" alt="" />
          </div>

          <!--横向柱状图-->
          <div class="Ttest">
            <Histogram></Histogram>
          </div>
        </el-col>
        <!-- <Safety></Safety> -->
        <el-col :span="4" :offset="4">
          <div class="bg-puRple">
            <img src="../../assets/system/log/t-title.png" alt="" />
          </div>

          <div class="T-table">
            <img
              src="../../assets/system/log/table.png"
              alt=""
              style="height: 480px"
            />
          </div>
          <div class="e">
            <img src="../../assets/system/log/t-title.png" alt="" />
          </div>
          <div class="bG-pURple">
            <img
              src="../../assets/system/log/Fire.png"
              alt=""
              style="width: 252px; height: 218px"
            />
          </div>
        </el-col>
      </el-row>
    <!-- <el-row :gutter="30"> -->
       
      <div>
   <!-- --折线图 -->
    <div>
    <span>
     <Linchart></Linchart>
   </span>
    </div>
  </div>
  </div>
</template>

<script>
import Echarts from "@/views/system/Echarts";
import Histogram from "@/views/system/Histogram";
import Case from "@/views/system/Case";
import Linchart from "@/components/common/Linechart";
// import TTitle from '@/components/common/TTitle'

// import Safety from '@/views/system/Safety'
export default {
  components: { Echarts, Case, Linchart, Histogram }
};
</script>
<style>
#middle {
  background: url("../../assets/common/bbk.png");
  /* background-size: 100% 100%; */
  height: 100%;
  
  position: fixed;
  width: 100%;
  /* z-index:-1; */
  background-size: cover;
  background-attachment: fixed;
}
.el-col {
  border-radius: 4px;
}
.grid-content {
  border-radius: 4px;
  min-height: 36px;
}
.row-bg {
  padding: 0px 0;
  /* background-color: #f9fafc; */
}
.bg-purple {
  padding-top: 30%;
}
.grid-cont {
  padding-top: 35%;
  padding-bottom: 10%;
}
.Grid {
  padding-top: 50%;
}
.Bg-purple {
  padding-top: 10%;
  padding-left: 20%;
}
.BG-Purple {
  padding-top: 1%;
  padding-left: 20%;
}
.bG-pUrple {
  padding-left: 30%;
  padding-top: 1%;
}
.bg-puRple {
  padding-top: 35%;
}
.B-Button {
  padding-top: 10%;
  padding-right: 3%;
  padding-bottom: 10%;
}
.Vidio {
  padding-top: 3%;
  padding-right: 3%;
}
.bG-pURple {
  padding-left: 20%;
}
.cOnTent {
  padding-left: 40%;
}
.p-purple {
  padding-top: 10%;
}
.G-GA {
  padding-top: 5%;
}
.G-GG {
  padding-top: 1%;
}
.T-table {
  padding-bottom: 3%;
  padding-top: 2%;
}
.Ttest {
  padding-right: 30%;
}
</style>














