<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <style>
    html,
    body,
    #app {
      border: 0;
      padding: 0;
      margin: 0;
    }
  </style>
  <style>
    .loading {
      width: 80px;
      height: 40px;
      margin: 0 auto;
      margin-top: 100px;
    }

    .loading span {
      display: inline-block;
      width: 8px;
      height: 100%;
      border-radius: 4px;
      background: lightgreen;
      -webkit-animation: load 1s ease infinite;
    }

    @-webkit-keyframes load {

      0%,
      100% {
        height: 40px;
        background: lightgreen;
      }

      50% {
        height: 70px;
        margin: -15px 0;
        background: lightblue;
      }
    }

    .loading span:nth-child(2) {
      -webkit-animation-delay: 0.2s;
    }

    .loading span:nth-child(3) {
      -webkit-animation-delay: 0.4s;
    }

    .loading span:nth-child(4) {
      -webkit-animation-delay: 0.6s;
    }

    .loading span:nth-child(5) {
      -webkit-animation-delay: 0.8s;
    }
    .loadding-show{
      position: absolute;
    }
  </style>
</head>

<body>
  <!-- <div class="loadding-show">
    <div class="loading">
      <span></span>  
      <span></span>  
      <span></span>  
      <span></span>  
      <span></span>
    </div>
  </div> -->
  <div id="app"></div>
</body>

</html>