<template>
  <div class="content">
    🎉 0.0.1 版本

    组件预览背景：<input type="color" @input="$emit('styleChange', style)" v-model="style.docListbackgroundColor" />
    缩放比例: <input class="docInput" @input="$emit('styleChange', style)" type="number" :step="0.1" :min="0" v-model="style.docListScaling"/>
    <button @click="save">保存</button>
  </div>
</template>
<script>
export default {
  props: {
    _style: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  data: () => ({
    style: {}
  }),
  created(){
    this.style = this.deepClone(this._style)
  },
  methods: {
    deepClone(source) {
      if (!source && typeof source !== 'object') {
      throw new Error('error arguments', 'deepClone')
      }
      const targetObj = source.constructor === Array ? [] : {}
      Object.keys(source).forEach(keys => {
      if (source[keys] && typeof source[keys] === 'object') {
        targetObj[keys] = this.deepClone(source[keys])
      } else {
        targetObj[keys] = source[keys]
      }
      })
      return targetObj
    },
    save(){
      localStorage.setItem('docListbackgroundColor', this.style.docListbackgroundColor);
      localStorage.setItem('docListScaling', this.style.docListScaling)
    }
  }
};
</script>
<style scoped>
.content{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  height: 28px;
  width: 100%;
  background: #1d2935;
  color: #fff;
}

</style>

<style scoped>
.docInput{
  border: 1px solid rgb(65, 65, 65);
}
</style>
