<template>
  <div id="test">
     <RRectangular :count="400" title="枪机摄像机" :sum="2400" icon=""></RRectangular>
</div>
</template>
<script>
import RRectangular from '@/components/common/RRectangular'
export default {
  components: {RRectangular}
}
</script>
<style lang="scss" scoped>
#test{
  background-color: rgb(77, 77, 77);
}

</style>