<template>
  <div id="test">
     <TTitle v-show="false" v-for="(item, index) in list" :key="index" :count="item.count" :title="item.title"></TTitle>
     <LabelTitle title="球机" :count="40" :sum="1200"></LabelTitle>
  </div>
</template>
<script>
import TTitle from '@/components/common/TTitle/TTitle'
import LabelTitle from "@/components/common/LabelTitle/LabelTitle";
export default {
  components: { TTitle, LabelTitle },
  data: () => ({
    list: [
      { title: '阿布情况哟', count: 1 },
      { title: '阿布情况哟', count: 10 },
      { title: '阿布情况哟', count: 100 },
      { title: '阿布情况', count: 1 },
      { title: '阿布情况', count: 10 },
      { title: '阿布情况', count: 100 },
      { title: '阿布情', count: 1 },
      { title: '阿布情', count: 10 },
      { title: '阿布情', count: 100 },
      { title: '阿', count: 1 },
      { title: '阿', count: 10 },
      { title: '阿', count: 100 },
      { title: '', count: 1 },
      { title: '', count: 10 },
      { title: '', count: 100 },
    ]
  })
}
</script>
<style lang="scss" scoped>
#test{
  background-color: rgb(77, 77, 77);
}

</style>