<template>
  <div class="TTitle">
    <img src="./img/圆形.png"/>
    <!-- icon TODO -->

    <img src="./img/不规则长方形.png"/>
    <span v-if="title" class="title">{{title}}</span>
    <span v-if="count" class="count" :style="{right: `${countLeft(title, count)}rem`}">{{count}}</span>
  </div>
</template>
<script>
/**
 * t-title 标题组件
 *
 * 参数
 * String title 标题文本 默认 空
 * String icon  图标形状 默认 空
 * Number count 显示数量 默认 空
 *
 */
export default {
  doc: {
    name: 't-title 标题组件'
  },
  props: {
    title: {
      type: String,
      default: "",
    },
    icon: {
      type: String,
      default: "",
    },
    count: {
      type: Number,
      default: 0,
    },
  },
  computed: {
    countLeft() {
      return (title, count) => {
        // 数字初始位置
        let res = 1.5
        let titleLenArr = this.getByteLen(title)
        let countLenArr = this.getByteLen(count + '')
        // 标题长度自增
        res += (titleLenArr[0] * 1.27) + (titleLenArr[1] * 0.72)
        // 数字长度自增
        res += (countLenArr[0] * 1.27) + (countLenArr[1] * 0.9)
        return res
      }
    }
  },
  methods: {
    getByteLen(val) {
      let res = [0,0]
      for (var i = 0; i < val.length; i++) {
        var a = val.charAt(i);
        // eslint-disable-next-line no-control-regex
        if (a.match(/[^\x00-\xff]/ig) != null) {
          res[0] = res[0] + 1
        }
        else {
          res[1] = res[1] + 1
        }
      }
      return res;
    }
  }
  
};
</script>
<style scoped>
.title{
  color:#ffffff;
  font-size:1.9rem;
  position: relative;
  top: -26px;
  left: -290px;
}
.count{
  color:#ffffff;
  font-size:1.6rem;
  position: relative;
  top: -26px;
}
</style>