<template>
  <div v-if="componentList && componentList.length > 0" :style="{ backgroundColor: `${style.backgroundColor}` }" class="Doc">
    <div style="width: 25%">
      <h1>{{ $route.meta.title }}</h1>
      <div @click="selectcomponent(index)"
        v-for="(item, index) in componentList"
        :key="index"
      >
        {{ item.name }} - {{ item.doc.name }}
      </div>
    </div>
    <div class="componentList" style="width: 75%">
      <!-- 参数控制 -->
      <div>
        <div v-for="(item, index) in componentList" :key="index">
          <div v-if="index === selectComponentIndex">
            <div v-for="(it, k, idx) in item.props" :key="idx">
              {{k}} <input v-model="componentLabel[k]" @input="onInput" class="docInput" type="text">
              类型: {{typeof it.default}}
              默认值: {{it.default}}
            </div>
          </div>
        </div>
      </div>
      <div >
        <div v-for="(item, index) in componentList" :key="index">
          <component
            :ref="`docCom`"
            v-if="index === selectComponentIndex"
            :is="item.name"
          ></component>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable no-unused-vars */
import Vue from "vue";
export default {
  data: () => ({
    style: {
      backgroundColor: "#dfdfdf",
    },
    componentList: [],
    componentLabel: {}, // 组件标签
    selectComponentIndex: 0,
  }),
  beforeCreate() {
    const files = require.context("@/components", true, /.vue$/);
    files.keys().forEach((element) => {
      const url = "components/" + element.substring(2);
      let urlArr = element.split("/");
      let urlArrLen = urlArr[urlArr.length - 1];
      const name = urlArrLen.substring(0, urlArrLen.length - 4);
      Vue.component(`${name}`, (resolve) => {
        require([`@/${url}`], resolve);
      });
    });
  },
  created() {
    this.initComponents();
    setTimeout(() => {this.selectcomponent(0)}, 1)
  },
  methods: {
    initComponents() {
      const files = require.context("@/components", true, /.vue$/);
      files.keys().forEach((element, index) => {
        const url = "components/" + element.substring(2);
        let urlArr = element.split("/");
        let urlArrLen = urlArr[urlArr.length - 1];
        const name = urlArrLen.substring(0, urlArrLen.length - 4);
        let component = require(`@/${url}`).default;
        // console.log(component);
        // console.log(component.props);
        this.componentList.push({
          name: name,
          url: component.__file,
          props: component.props ? component.props : {},
          doc: component.doc ? component.doc : {},
        });
        // console.log('$refs',this.$refs);
        // console.log('$refs',this.$refs[`docCom${index}`]);
        // console.log('$refs',index);
        // console.log('this.componentList', this.componentList);
      });
    },
    selectcomponent(index){
      this.selectComponentIndex = index
      let docCom = this.$refs['docCom'][0]
      this.componentLabel = {}
      let props = this.componentList[this.selectComponentIndex].props
      for(let key in props){
        this.componentLabel[key] = props[key].default
        docCom[key] = this.componentLabel[key]
      }
      console.log('this.componentLabel', this.componentLabel);
      
    },
    onInput(){
      let docCom = this.$refs['docCom'][0]
      let props = this.componentList[this.selectComponentIndex].props
      for(let key in props){
        docCom[key] = this.componentLabel[key]
      }
    }
  }
};
</script>
<style scoped>
.Doc {
  background-color: ：#dfdfdf;
  display: flex;
}
.componentList {
  overflow-y: auto;
  height: 600px;
}
</style>
<style scoped>
.docInput{
  border: 1px solid red;
}
</style>
