<template>
  <div :style="{ backgroundColor: `${style.backgroundColor}` }" class="Doc">
    <div style="width: 25%">
      <h1>{{ $route.meta.title }}</h1>
      <div
        @click="selectComponentIndex = index"
        v-for="(item, index) in componentList"
        :key="index"
      >
        {{ item.name }} - {{ item.doc.name }}
      </div>
    </div>
    <div class="componentList" style="width: 75%">
      <div v-if="componentList && componentList.length > 0">
        <div v-for="(item, index) in componentList" :key="index">
          <component
            v-if="index === selectComponentIndex"
            :is="item.name"
          ></component>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable no-unused-vars */
import Vue from "vue";
export default {
  data: () => ({
    style: {
      backgroundColor: "#dfdfdf",
    },
    componentList: [],
    selectComponentIndex: 0,
  }),
  beforeCreate() {
    const files = require.context("@/views", true, /.vue$/);
    files.keys().forEach((element) => {
      const url = "views/" + element.substring(2);
      let urlArr = element.split("/");
      let urlArrLen = urlArr[urlArr.length - 1];
      const name = urlArrLen.substring(0, urlArrLen.length - 4);
      Vue.component(`${name}`, (resolve) => {
        require([`@/${url}`], resolve);
      });
    });
  },
  created() {
    this.initComponents();
  },
  methods: {
    initComponents() {
      const files = require.context("@/views", true, /.vue$/);
      files.keys().forEach((element) => {
        const url = "views/" + element.substring(2);
        let urlArr = element.split("/");
        let urlArrLen = urlArr[urlArr.length - 1];
        const name = urlArrLen.substring(0, urlArrLen.length - 4);
        let component = require(`@/${url}`).default;
        console.log(component);
        this.componentList.push({
          name: name,
          url: component.__file,
          props: component.props,
          doc: component.doc ? component.doc : {},
        });
        // console.log('this.componentList', this.componentList);
      });
    },
  },
};
</script>
<style scoped>
.Doc {
  background-color: ：#dfdfdf;
  display: flex;
}
.componentList {
  overflow-y: auto;
  height: 600px;
}
</style>
