<template>
  <div id="square">
     <div class="tses" style="color:red;font-size:18px;color:#ffffff">
         {{title}}
</div>
 <div class="t-tses">
     
  <div class="c-count" style="width:20%; height:50px;float:left;color:#FDEE00;font-size:36px">{{count}}</div>
  
  <div class="c-sum" style=" margin-left:35%; height:50px;font-size:30px;padding-top:8%">/{{sum}}</div>
 </div>
  </div>
</template>

<script>
/*
*技防设备概要左侧组件
*String title 标题组件
*String icon标题icon
*Number count 数量(分子)
*Number sum 总数(分母)
*/ 
 export default {
    props:{
        title:{
            type:String,
            default:"标题",
        },
        icon:{
         type:String,
         default:"",
        },
        count:{
            type:Number,
            default:40,
        },
        sum:{
            type:Number,
            default:2400,
        }
    }
};
</script>

<style lang="scss" scoped>
#square {
    width: 172px;
    height: 79px;
    background: #1849CE;
} 

</style>