<template>
  <div>
    234234
    val <h1>{{val}}</h1>
    <h3>{{title}}</h3>
  </div>
</template>
<script>
export default {
  props: {
    val: {
      type: String,
      require: true
    },
    title: {
      type: String,
      default: '标题'
    },
    fun: {
      type: Function,
      default: () => {
        console.log(111);
      }
    }
  },
  created(){
    console.log('组件执行', this.fun());
    
  }
}
</script>