<template>

<div id="middle">
<div class="w-wc" style="padding-top:10%">
<div style="position: relative; width: 270px; height: 89px;">
<img src="../../assets/system/log/轮子.png" width="370" height="69" alt="">
<span style="position: absolute; top: 25%; left: 50%;color:red">title</span>
<span style="position: absolute; top: 25%; left: 110%;color:red">sum</span>
</div>
</div> 
    </div>
</template>

<script>
export default {
    name: 'Wheels',
    data() {
        return {
            
        };
    },
    mounted() {
        
    },
    methods: {
        
    },
};
</script>

<style lang="scss" scoped>
#middle{
    background: url("../../assets/common/bbk.png");
    /* background-size: 100% 100%; */
    height: 100%;
    position: fixed;
    width: 100%;
    background-size:cover;
    background-attachment: fixed;
  }
  .v-bg{
      padding-top: 10%;
  }
</style>