<template>
  <div class="home">
    <Header title="智慧安全管理平台"></Header>
    <div class="flag"></div>
    <div id="launchpad">
      <div
        @click="open(item)"
        class="icon"
        v-for="(item, index) in iconList"
        :key="index"
      >
        <img :src="require(`./static/img/icon/${item.icon}.png`)" />
        <span>{{ item.title }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import Header from '@/components/system/Header/Header'
export default {
  components: { Header },
  created() {
    // 屏蔽右键
    // document.oncontextmenu = () => false;
  },
  data: () => ({
    iconList: [
      { title: "安全检查", icon: "安全检查" },
      { title: "安全隐患概览", icon: "安全隐患概览" },
      { title: "案事件", icon: "案事件" },
      { title: "白名单报警", icon: "白名单报警" },
      { title: "报警柱报警", icon: "报警柱报警" },
      { title: "车辆报警", icon: "车辆报警" },
      { title: "车辆报警-灰", icon: "车辆报警-灰" },
      { title: "单兵管理", icon: "单兵管理" },
      { title: "单兵管理-灰", icon: "单兵管理-灰" },
      { title: "电力超载", icon: "电力超载" },
      { title: "电力短路", icon: "电力短路" },
      { title: "电子地图", icon: "电子地图" },
      { title: "关注人员", icon: "关注人员" },
      { title: "红外对射", icon: "红外对射" },
      { title: "红外光栅", icon: "红外光栅" },
      { title: "后台配置", icon: "后台配置" },
      { title: "火灾报警", icon: "火灾报警" },
      { title: "技防概览", icon: "技防概览" },
      { title: "警戒时段开门报警", icon: "警戒时段开门报警" },
      { title: "门未关闭报警", icon: "门未关闭报警" },
      { title: "能源系统", icon: "能源系统" },
      { title: "人员出入系统", icon: "人员出入系统" },
    ],
  }),
  methods: {
    open(item) {
      this.$notify.closeAll()
      if (item.title === "安全检查") {
        this.$router.push("/overview");
      } else if (item.title === "安全隐患概览") {
        this.$router.push("/log");
      } else if (item.title === "案事件") {
        this.$router.push("/technicalPrevention");
      } else if (item.title === "白名单报警") {
        this.$router.push("/fireControl");
      } else {
        this.$notify.info({
          title: '消息',
          message: '没有页面'
        });
      }
      // $(".view").addClass("view_show");
      // $("#launchpad").addClass("launchpad_view_show");
    },
  },
};
</script>

<style scoped>
.home {
  background-image: url("../../assets/common/bg2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  height: 100%;
}

#dock img {
  margin: 2px -2px;
}

#launchpad {
  margin: 100px auto;
  width: 1756px;
  height: 600px;
  border-radius: 30px;
  display: block;
  opacity: 1;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transition: 0.2s ease-in-out;
}

.icon {
  float: left;
  width: 110px;
  height: 140px;
  margin: 20px 40px;
  cursor: pointer;
}

.icon:hover {
  opacity: 0.6;
}

#launchpad img {
  width: 100px;
  height: 100px;
  margin: 5px;
}

.icon span {
  float: left;
  width: 110px;
  height: 10px;
  margin: 10px auto;
  display: block;
  color: #fff;
  font-size: 16px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana,
    sans-serif;
  text-align: center;
  line-height: 10px;
  text-shadow: 0 1px 2px #000000;
}


</style>
