<template>
  <v-app id="app">
    
    <!-- 缓存图片 -->
    <div v-show="false"><img v-for="(item, index) in $store.state.image_cache" :key="index" :src="item"/></div>
   
    <transition :name="transitionName">
        <router-view />
		</transition>
   
  </v-app>
</template>

<script>
export default {
  name: "App",
  data: () => ({
    transitionName: 'fade'
  })
};
</script>
<style scoped>
* ::-webkit-scrollbar-track-piece {
  background-color: #09114C;
}
* ::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}
* ::-webkit-scrollbar-thumb {
  border-radius: 20px !important;
  background-color: #2239E4;
  background-clip: padding-box;
  min-height: 10px;
}
* ::-webkit-scrollbar-thumb:hover {
  background-color: #2239E4;
}
</style>
<style>
/* 切换动画 */
.fade-enter-active,
.fade-leave-active {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0);
  z-index: 9999;
}
.fade-enter {
  transform: translateX(0%);
  opacity: 0;
}
.fade-leave-to {
  transform: translateX(0%);
}
/* 滚动条不可见 */
* ::-webkit-scrollbar {
  width: 0px;
}
/* 禁止选中 */
*{  
  -webkit-touch-callout:none;  /*系统默认菜单被禁用*/   
  -webkit-user-select:none; /*webkit浏览器*/   
  -khtml-user-select:none; /*早期浏览器*/   
  -moz-user-select:none;/*火狐*/   
  -ms-user-select:none; /*IE10*/   
  user-select:none;   
} 
</style>
