<template>
  <div id="myChart" style="width: 1380px; height: 400px"></div>
</template>
<script>
/**
 * 分布图 - 统计图
 */
import echarts from "echarts";
export default {
  name: "",
  data() {
    return {
      charts: "",
      /*  opinion: ["1", "3", "3", "4", "5"],*/
      // opinionData: ["3", "2", "4", "4", "5"]
    };
  },
  methods: {
    drawLine(id) {
      this.charts = echarts.init(document.getElementById(id));
      var xAxisData = [];
      var data1 = [];
      var data2 = [];
      for (var i = 0; i < 30; i++) {
        xAxisData.push("楼宇名称");
        data1.push((Math.random() * 600).toFixed(1));
        data2.push((Math.random() * 400).toFixed(1));
      }

      var emphasisStyle = {
        itemStyle: {
          shadowBlur: 10,
          shadowColor: "rgba(0,0,0,0.3)",
        },
      };
      this.charts.setOption({
        legend: {
          data: ["正常", "异常"],
          left: "20%",
        },
        brush: {
          // toolbox: ['rect', 'polygon', 'lineX', 'lineY', 'keep', 'clear'],
          // xAxisIndex: 0
        },
        toolbox: {
          feature: {
            magicType: {
              // type: ['stack', 'tiled']
            },
            // dataView: {}
          },
        },
        tooltip: {},
        xAxis: {
          data: xAxisData,
          name: "",
          axisLine: { onZero: true },
          splitLine: { show: false },
          splitArea: { show: false },
        },
        yAxis: {},
        grid: {
          bottom: 100,
        },
        series: [
          {
            name: "正常",
            type: "bar",
            stack: "one",
            emphasis: emphasisStyle,
            data: data1,
          },
          {
            name: "异常",
            type: "bar",
            stack: "one",
            emphasis: emphasisStyle,
            data: data2,
          },
        ],
      });
      id.on("brushSelected", renderBrushed);
      function renderBrushed(params) {
        var brushed = [];
        var brushComponent = params.batch[0];

        for (var sIdx = 0; sIdx < brushComponent.selected.length; sIdx++) {
          var rawIndices = brushComponent.selected[sIdx].dataIndex;
          brushed.push("[Series " + sIdx + "] " + rawIndices.join(", "));
        }

        id.setOption({
          title: {
            backgroundColor: "#333",
            text: "SELECTED DATA INDICES: \n" + brushed.join("\n"),
            bottom: 0,
            right: "10%",
            width: 100,
            textStyle: {
              fontSize: 10,
              color: "#fff",
            },
          },
        });
      }
    },
  },
  //调用
  mounted() {
    this.$nextTick(function () {
      this.drawLine("myChart");
    });
  },
};
</script>
<style scoped>
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
</style>